<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Notas</title>
    <style>
        
    </style>
</head>
<body>
    <div>
        <h1>Notas del Usuario: {{ username }}</h1>
        
        <ul>
        {% for note in notes %}
            <li>
                <a href="{% url 'notes_MujicaTavera:detail' note.pk %}">{{ note.title }}</a>
            </li>
        {% empty %}
            <li>No hay notas disponibles.</li>
        {% endfor %}
        </ul>

        <a href="{% url 'notes_MujicaTavera:create' %}">Crear nueva nota</a>

        <form action="{% url 'notes_MujicaTavera:change_user' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Cambiar Usuario</button>
        </form>
    </div>
</body>
</html>
